<div id="Education" class="bio" style="margin-bottom:-15px">
    <div class="container">
        <div class="degree">
            <strong>2022.11 - Present</strong>
        </div>
        <div class="details">
            <span class="date">Research Assistant</span><br>
            <strong><a href="https://en.genomics.cn/en-organization-3245.html">Institute of Precision Health</a>, BGI Research</strong>, Shenzhen, China.<br>
            Deploy the metagenomic analysis process on the cloud platform and develop AI models to predict health status using microbiota.
        </div>
        <div class="image">
            <img src="images/bgi.png" alt="SYSU" />
        </div>
    </div>
    <span>&emsp;</span>
    <div class="container">
        <div class="degree">
            <strong>2022.07 - 2022.10</strong>
        </div>
        <div class="details">
            <span class="date">Clinical Intern</span><br>
            <strong>The Seventh Affiliated Hospital, Sun Yat-sen University</strong>, Shenzhen, China.<br>
            Basic clinical skills training
        </div>
        <div class="image">
            <img src="images/7.png" alt="SYSU" />
        </div>
    </div>
    <span>&emsp;</span>
    <div class="container">
        <div class="degree">
            <strong>2019.08 - 2021.08</strong>
        </div>
        <div class="details">
            <span class="date">Research Assistant</span><br>
            <strong><a href="https://www.researchgate.net/lab/Acacia-Lab-for-Implementation-Science-Dong-Roman-Xu">Acacia Lab</a></strong>, Guangzhou, China.<br>
            <a href="pdf/ACACIA%E5%B7%A5%E4%BD%9C%E8%AF%81%E6%98%8E%20-%20%E9%99%88%E4%BF%8A%E5%AE%8F.pdf">PPPC validation and SP visit route planning</a>
        </div>
        <div class="image">
            <img src="images/acacia.png" alt="SYSU" />
        </div>
    </div>
</div>